* {
    margin: 0;
    padding: 0;
}

/* IMPORTANDO FONTE */
@font-face {
    font-family: 'cedora-bold';
    src: url(fonts/Cedora-BoldStd.otf);
}

/* CABEÇALHO */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}



/* LOGO */
header img { 
    width: 300px;
}

/* MENU - BLOCO */
header .menu {
    display: flex;
    gap: 50px;
}

/* MENU */
header .menu p {
    font-family: 'cedora-bold';
}

/* LINK MENU */
header .menu p a {
    text-decoration: none;
    color: black;
}

/* LINK MENU */
header .menu p a:hover {
    border-bottom: 2px solid #0560AC;
    padding-bottom: 5px;
}

/* -------------------------- */

/* HEADER MOBILE */
@media (max-width: 480px) {
    header{
      display: flex;
      flex-direction: column;      
      background-color: white;
    }
}

/* LOGO MOBILE */
@media (max-width: 480px) {
    header img{
      width: 290px;
    }
}

/* MENU MOBILE */
@media (max-width: 480px) {
    header .menu {
      font-size: 12px;
      display: flex;
      gap: 30px;
    }
}


/* -------------------------- */


/* MENU TABLET */
@media (max-width: 780px) {
    header .menu {
      font-size: 15px;
      display: flex;
    }
}

/* LOGO - TABLET */
@media (max-width: 780px) {
    header .logo img {
      width: 300px;
    }
}

/* -------------------------- */
